.wrapper {
	display: flex;
	align-items: center;

	box-shadow: var(--shadow-sm);
	padding: 0.75rem 1.5rem;
	border-radius: var(--radius-md);
	margin-bottom: 1rem;
}

.name {
	width: 45%;
}

.status, .role, .action {
	display: flex;
	justify-content: center;
	align-items: center;
}

.statys, .role {
	width: 20%;
}

.action {
	width: 15%;
}