.active {
	color: var(--color-green);
}

.inactive {
	color: var(--color-red);
}

.active, .inactive {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-size: var(--text-sm);
}

.icon {
	height: 1rem;
	width: 1rem;
}