.input {
  width: 100%;
	height: 2.4rem;
	padding: 0.5rem 1rem;
	margin: 0.25rem 0;

	border-radius: var(--radius-sm);
	border: none;
	box-shadow: var(--shadow-sm);
	outline: none;
}

.input:focus {
	box-shadow: var(--shadow-md);
}

input::placeholder {
	color: var(--color-lightgray);
}

.label {
	font-size: var(--text-sm);
	font-weight: bold;
}

.error {
	font-size: var(--text-sm);
	color: var(--color-red);
}

.error, .label {
	margin-left: 0.5rem;
}

.borderError {
	outline: 1px solid var(--color-red);
}