.wrapper {
	position: relative;
	display: block;
}

.input {
	width: 100%;
	height: 2.4rem;
	padding: 0.5rem 1rem;
	padding-right: 3.5rem;
	margin: 0.25rem 0;

	border-radius: var(--radius-sm);
	border: none;
	box-shadow: var(--shadow-sm);
	outline: none;
}

.input:focus {
	box-shadow: var(--shadow-md);
}

input::placeholder {
	color: var(--color-lightgray);
}

.label {
	font-size: var(--text-sm);
	font-weight: bold;
}

.error {
	font-size: var(--text-sm);
	color: var(--color-red);
}

.error,
.label {
	margin-left: 0.5rem;
}

.borderError {
	outline: 1px solid var(--color-red);
}

.loadingIcon,
.errorIcon,
.successIcon {
	position: absolute;
	right: 1rem;
	top: 1.85rem;
	height: 1.5rem;
	width: 1.5rem;
}

.loadingIcon {
	color: var(--color-grey);
}

.successIcon {
	color: var(--color-green);
}

.errorIcon {
	color: var(--color-red);
}