.input {
  width: 100%;
	height: 2.4rem;
	padding: 0.5rem 1rem;
  padding-left: 2.5rem;

	border-radius: var(--radius-sm);
	border: none;
	box-shadow: var(--shadow-sm);
	outline: none;
}

.input:focus {
	box-shadow: var(--shadow-md);
}

input::placeholder {
	color: var(--color-lightgray);
}

.wrapper {
	position: relative;
}

.icon {
	pointer-events: none;
	position: absolute;
	top: 0.75rem;
	left: 1rem;
	height: 1rem;
	width: 1rem;
	color: var(--color-lightgray);
}
